.nav-container {
    background-color: rgb(236, 236, 236);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .a-containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .logo {
        width: 10%;
  }