*{
  margin: 0 auto;
  padding: 2rem;
  box-sizing: content-box;
}

.navContainer {
  background-color: rgb(172, 172, 172);
  padding: 2rem;
}

.button-purple {
  padding: 1rem;
  background-color: violet;
}

.button-gray {
  padding: 1rem;
  background-color: gray;
}